/* line 11, ../sass/styles.scss */
.main-yellow-button:hover {
  background: #ffffff;
}
/* line 15, ../sass/styles.scss */
.main-yellow-button:active {
  background: #dadada;
}

/* line 20, ../sass/styles.scss */
.yellow-button {
  background: #f8e81c;
  color: #000000;
  border-radius: 6px;
}
/* line 25, ../sass/styles.scss */
.yellow-button:hover {
  background: #123997;
  color: #ffffff;
}
/* line 30, ../sass/styles.scss */
.yellow-button:active {
  background: #102965;
  color: #ffffff;
}

/* line 36, ../sass/styles.scss */
.blue-button {
  border: solid 1px #123997;
  background: #ffffff;
  color: #123997;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 6px;
}
/* line 45, ../sass/styles.scss */
.blue-button:hover {
  color: #ffffff;
  background: #123997;
}
/* line 50, ../sass/styles.scss */
.blue-button:active {
  color: #ffffff;
  border-color: #0f2965;
  background-color: #0f2965;
}

/* line 59, ../sass/styles.scss */
.block {
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-out 0.1s;
  padding-top: 95px;
  padding-bottom: 85px;
  padding-right: 75px;
  position: relative;
  top: auto;
  left: 0;
  right: 0;
  opacity: 1;
  padding: 40px 0;
  height: auto;
  border-bottom: solid 1px #eeeeee;
}
/* line 70, ../sass/styles.scss */
.block.active {
  z-index: 2;
  opacity: 1;
}
/* line 75, ../sass/styles.scss */
.block-about {
  background: url("./../images/logo-big.svg") center bottom no-repeat;
  background-size: contain;
}
/* line 79, ../sass/styles.scss */
.block-about .container {
  position: relative;
  z-index: 2;
}
/* line 86, ../sass/styles.scss */
.block-video {
  background: url("./../images/bg-2_2x.png") center center no-repeat;
  background-color: #171f32;
}
/* line 91, ../sass/styles.scss */
.block-prospects {
  background: #171e32;
  position: relative;
}

/* line 108, ../sass/styles.scss */
.footer, .header {
  position: static;
}

/* line 114, ../sass/styles.scss */
.body_wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
}

/* line 125, ../sass/styles.scss */
.content .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 130, ../sass/styles.scss */
.content .container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 639px) {
  /* line 125, ../sass/styles.scss */
  .content .container {
    padding: 20px;
  }
}

/* line 142, ../sass/styles.scss */
.slider {
  z-index: 50;
}
/* line 144, ../sass/styles.scss */
.slider li a {
  transition: background 0.5s ease-out 0.1s;
}
/* line 148, ../sass/styles.scss */
.slider__wrap {
  display: none;
}

/* line 155, ../sass/styles.scss */
.title {
  font-family: 'WhitneySemiBold', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #171e32;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 164, ../sass/styles.scss */
.title span {
  display: block;
  font-weight: 100;
}
/* line 170, ../sass/styles.scss */
.title__logo img {
  width: 78px;
  height: 29px;
  margin-bottom: 5px;
  opacity: 0.1;
}
/* line 178, ../sass/styles.scss */
.title--in_darck {
  color: #ffffff;
}
/* line 182, ../sass/styles.scss */
.title span.light {
  font-family: "WhitneyMedium";
}

/* line 189, ../sass/styles.scss */
.about__dop_title {
  font-family: 'WhitneySemiBold', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #0e0e0e;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 200, ../sass/styles.scss */
.about__text {
  font-family: 'WhitneyMedium', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #0e0e0e;
  opacity: 0.4;
}
/* line 207, ../sass/styles.scss */
.about__text p {
  margin: 0;
}
@media (max-width: 1199px) {
  /* line 216, ../sass/styles.scss */
  .about__text--hidden-desk {
    display: none;
  }
}
/* line 223, ../sass/styles.scss */
.about__infore {
  padding: 5px 0 5px 45px;
  background: url("./../images/about_icon.png") left center no-repeat;
  font-size: 17px;
  line-height: 20px;
  font-family: 'WhitneySemiBold', sans-serif;
  color: #0e0e0e;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 233, ../sass/styles.scss */
.about__infore span {
  display: block;
}
/* line 242, ../sass/styles.scss */
.about__col_wrap {
  margin: 30px -40px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  margin-left: -20px;
  margin-right: -20px;
}
/* line 248, ../sass/styles.scss */
.about__col_wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 899px) {
  /* line 242, ../sass/styles.scss */
  .about__col_wrap {
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 265, ../sass/styles.scss */
.about__col {
  padding: 40px;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  min-height: 300px;
  min-height: 0;
}
@media (max-width: 1199px) {
  /* line 265, ../sass/styles.scss */
  .about__col {
    padding: 20px;
  }
}
@media (max-width: 899px) {
  /* line 265, ../sass/styles.scss */
  .about__col {
    width: 100%;
    padding: 20px 0;
    min-height: 0;
  }
}
/* line 289, ../sass/styles.scss */
.about__for_bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 298, ../sass/styles.scss */
.about__top_left {
  width: 732px;
  height: 706px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: url("./../images/line-2.svg") center center no-repeat;
  background-size: contain;
}
/* line 308, ../sass/styles.scss */
.about__top_center {
  width: 363px;
  position: absolute;
  height: 286px;
  left: 640px;
  z-index: 1;
  top: 0;
  background: url("./../images/group-2.svg") center center no-repeat;
  background-size: contain;
}
/* line 318, ../sass/styles.scss */
.about__bottom_center {
  position: absolute;
  z-index: 1;
  width: 366px;
  height: 243px;
  left: 490px;
  bottom: 0;
  background: url("./../images/group-4.svg") center center no-repeat;
  background-size: contain;
}

/* line 332, ../sass/styles.scss */
.video__play_wrap {
  padding: 150px;
  margin: 40px auto;
}
@media (max-width: 1199px) {
  /* line 332, ../sass/styles.scss */
  .video__play_wrap {
    padding: 20px;
  }
}
/* line 341, ../sass/styles.scss */
.video__play {
  background: url("./../images/play-wh.svg") center top no-repeat;
  text-decoration: none;
  padding-top: 110px;
  background-size: 96px 96px;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  position: relative;
}
/* line 351, ../sass/styles.scss */
.video__play:hover {
  text-decoration: none;
  background-image: url("./../images/play-wh_hover.svg");
}
/* line 356, ../sass/styles.scss */
.video__play:before {
  position: absolute;
  top: -100px;
  right: -100px;
  height: 1px;
  width: 120px;
  transform: rotate(-45deg);
  background: #ffffff;
  display: block;
  content: ' ';
}
@media (max-width: 1199px) {
  /* line 356, ../sass/styles.scss */
  .video__play:before {
    display: none;
  }
}
/* line 371, ../sass/styles.scss */
.video__play:after {
  position: absolute;
  left: -100px;
  bottom: -100px;
  height: 1px;
  width: 120px;
  transform: rotate(-45deg);
  background: #ffffff;
  display: block;
  content: ' ';
}
@media (max-width: 1199px) {
  /* line 371, ../sass/styles.scss */
  .video__play:after {
    display: none;
  }
}
/* line 388, ../sass/styles.scss */
.video__logo_wrap {
  text-align: right;
}
/* line 391, ../sass/styles.scss */
.video__logo {
  background: url("./../images/logo_wh.svg") center center no-repeat;
  background-size: contain;
  width: 43px;
  height: 16px;
  display: inline-block;
}
/* line 399, ../sass/styles.scss */
.video__text {
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  line-height: 35px;
}
/* line 406, ../sass/styles.scss */
.video__title {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: "WhitneySemiBold", sans-serif;
  font-weight: 600;
  line-height: 35px;
}
/* line 416, ../sass/styles.scss */
.video__dop_text {
  bottom: 100px;
  opacity: 0.3;
  max-width: 980px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 200px;
}
@media (max-width: 1199px) {
  /* line 416, ../sass/styles.scss */
  .video__dop_text {
    margin-top: 40px;
  }
}

/* line 437, ../sass/styles.scss */
.purchase__block {
  margin: 0 -30px;
}
/* line 439, ../sass/styles.scss */
.purchase__block:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 437, ../sass/styles.scss */
  .purchase__block {
    margin: 0 -15px;
  }
}
/* line 450, ../sass/styles.scss */
.purchase__block .title {
  margin-top: 15px;
  margin-bottom: 32px;
}
@media (max-width: 1199px) {
  /* line 455, ../sass/styles.scss */
  .purchase__block .title span {
    display: inline;
  }
}
/* line 462, ../sass/styles.scss */
.purchase__item {
  width: 33.3%;
  float: left;
  padding: 30px 20px;
}
/* line 467, ../sass/styles.scss */
.purchase__item:nth-of-type(2) {
  margin-right: 10px;
}
/* line 470, ../sass/styles.scss */
.purchase__item:nth-of-type(2) .purchase__title {
  height: auto;
}
@media (max-width: 1199px) {
  /* line 462, ../sass/styles.scss */
  .purchase__item {
    width: 50%;
  }
  /* line 479, ../sass/styles.scss */
  .purchase__item:nth-of-type(2) {
    margin-right: 0;
  }
}
@media (max-width: 899px) {
  /* line 462, ../sass/styles.scss */
  .purchase__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 492, ../sass/styles.scss */
.purchase__wrap {
  position: relative;
  padding: 0 20px;
}
@media (max-width: 899px) {
  /* line 492, ../sass/styles.scss */
  .purchase__wrap {
    padding: 0;
  }
}
/* line 501, ../sass/styles.scss */
.purchase__slider {
  overflow: hidden;
}
/* line 506, ../sass/styles.scss */
.purchase__arr {
  height: 26px;
  width: 20px;
  background: url("./../images/left-arrow__darck.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* line 514, ../sass/styles.scss */
.purchase__arr_wrap {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105px;
  right: 0;
  height: 0;
}
/* line 522, ../sass/styles.scss */
.purchase__arr_wrap .slick-prev {
  float: left;
}
/* line 525, ../sass/styles.scss */
.purchase__arr_wrap .slick-next {
  float: right;
}
/* line 528, ../sass/styles.scss */
.purchase__arr_wrap .slick-next .purchase__arr {
  transform: rotate(180deg);
}
/* line 534, ../sass/styles.scss */
.purchase__text {
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  font-family: "WhitneyMedium", sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  height: 54px;
  overflow: hidden;
}
/* line 550, ../sass/styles.scss */
.purchase__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-family: "WhitneyMedium", sans-serif;
  color: #262626;
  margin-bottom: 15px;
  height: 56px;
}
@media (max-width: 899px) {
  /* line 550, ../sass/styles.scss */
  .purchase__title {
    height: auto;
  }
}
@media (max-width: 639px) {
  /* line 550, ../sass/styles.scss */
  .purchase__title {
    font-size: 20px;
  }
}
/* line 570, ../sass/styles.scss */
.purchase__bottom:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 578, ../sass/styles.scss */
.purchase__price {
  float: left;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 15px;
  border-radius: 6px;
  background: #f1f1f1;
  margin-right: 5px;
}
@media (max-width: 639px) {
  /* line 578, ../sass/styles.scss */
  .purchase__price {
    width: 100%;
    text-align: center;
  }
}
/* line 593, ../sass/styles.scss */
.purchase__btn {
  display: block;
  float: left;
}
@media (max-width: 639px) {
  /* line 593, ../sass/styles.scss */
  .purchase__btn {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}
/* line 604, ../sass/styles.scss */
.purchase__icon {
  margin-bottom: 20px;
  background: left center no-repeat;
  background-size: contain;
  height: 55px;
  width: 80px;
}
@media (max-width: 899px) {
  /* line 604, ../sass/styles.scss */
  .purchase__icon {
    float: left;
  }
}
/* line 615, ../sass/styles.scss */
.purchase__icon--1 {
  background-image: url("./../images/iconPhysics.svg");
}
/* line 618, ../sass/styles.scss */
.purchase__icon--2 {
  background-image: url("./../images/iconDna.svg");
}
/* line 621, ../sass/styles.scss */
.purchase__icon--3 {
  background-image: url("./../images/iconDog.svg");
}
/* line 624, ../sass/styles.scss */
.purchase__icon--4 {
  background-image: url("./../images/iconBrain.svg");
}
/* line 627, ../sass/styles.scss */
.purchase__icon--5 {
  background-image: url("./../images/iconMan.svg");
}
/* line 630, ../sass/styles.scss */
.purchase__icon--6 {
  background-image: url("./../images/iconFrezer.svg");
}
/* line 633, ../sass/styles.scss */
.purchase__icon--7 {
  background-image: url("./../images/iconBu.svg");
}
/* line 636, ../sass/styles.scss */
.purchase__icon--8 {
  background-image: url("./../images/iconSpace.svg");
}

@media (max-width: 1199px) {
  /* line 644, ../sass/styles.scss */
  .prospects__content {
    padding-left: 0;
  }
}
/* line 656, ../sass/styles.scss */
.prospects__img {
  position: absolute;
  right: 66.6%;
  width: 33.3%;
  overflow: hidden;
  height: 100%;
  top: 0;
  bottom: 0;
  display: none;
}
@media (max-width: 1199px) {
  /* line 656, ../sass/styles.scss */
  .prospects__img {
    display: none;
  }
}
/* line 671, ../sass/styles.scss */
.prospects__img img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: block;
  top: 0;
  right: 0;
}
/* line 682, ../sass/styles.scss */
.prospects__item_wrap {
  margin: 0 -55px;
  line-height: 0;
  font-size: 0;
  vertical-align: top;
}
/* line 688, ../sass/styles.scss */
.prospects__item_wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 682, ../sass/styles.scss */
  .prospects__item_wrap {
    margin: 0 -20px;
  }
}
/* line 700, ../sass/styles.scss */
.prospects__item {
  min-height: 220px;
  width: 50%;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1199px) {
  /* line 700, ../sass/styles.scss */
  .prospects__item {
    min-height: 0;
    padding: 0;
  }
}
@media (max-width: 899px) {
  /* line 700, ../sass/styles.scss */
  .prospects__item {
    width: 100%;
  }
}
/* line 718, ../sass/styles.scss */
.prospects__text_wrap {
  padding: 30px 40px;
}
/* line 721, ../sass/styles.scss */
.prospects__text_wrap:hover {
  background: rgba(216, 216, 216, 0.02);
}
/* line 725, ../sass/styles.scss */
.prospects__text_wrap:hover .prospects__title, .prospects__text_wrap:hover .prospects__text {
  opacity: 1;
}
@media (max-width: 1199px) {
  /* line 718, ../sass/styles.scss */
  .prospects__text_wrap {
    padding: 20px;
  }
}
/* line 735, ../sass/styles.scss */
.prospects__title {
  opacity: 0.6;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
/* line 743, ../sass/styles.scss */
.prospects__text {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.3;
}
/* line 755, ../sass/styles.scss */
.prospects__dop {
  margin-top: 40px;
}
/* line 758, ../sass/styles.scss */
.prospects__dop:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 755, ../sass/styles.scss */
  .prospects__dop {
    margin-top: 20px;
  }
}
/* line 770, ../sass/styles.scss */
.prospects__dop_col {
  width: 50%;
  float: left;
}
@media (max-width: 1199px) {
  /* line 770, ../sass/styles.scss */
  .prospects__dop_col {
    width: auto;
    padding-right: 40px;
  }
}
/* line 780, ../sass/styles.scss */
.prospects__release {
  padding-left: 35px;
  line-height: 32px;
  background: url("./../images/icon-pdf.svg") left center no-repeat;
  background-size: contain;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
/* line 789, ../sass/styles.scss */
.prospects__logo {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 12px;
  display: inline-block;
  margin-right: 50px;
  text-decoration: none;
  vertical-align: top;
}
/* line 799, ../sass/styles.scss */
.prospects__logo span {
  display: block;
}
/* line 804, ../sass/styles.scss */
.prospects__l_img {
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
/* line 809, ../sass/styles.scss */
.prospects__l_img img {
  max-height: 25px;
  max-width: 130px;
  vertical-align: bottom;
}

/* line 818, ../sass/styles.scss */
.roadmap__wrap {
  position: relative;
  margin-top: 50px;
}
/* line 823, ../sass/styles.scss */
.roadmap__slider {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  max-width: none;
}
/* line 831, ../sass/styles.scss */
.roadmap__item {
  width: 100%;
  max-width: 410px;
  max-width: none;
  padding: 20px 0;
  padding-left: 50px;
  position: relative;
}
/* line 841, ../sass/styles.scss */
.roadmap__item.slick-active .roadmap__title, .roadmap__item.slick-active .roadmap__text, .roadmap__item.slick-active .roadmap__year {
  opacity: 1;
}
/* line 845, ../sass/styles.scss */
.roadmap__item.slick-active .roadmap__icon:after {
  height: 30px;
  width: 30px;
  background-image: url("./../images/time.svg");
  background-color: #123997;
}
/* line 856, ../sass/styles.scss */
.roadmap__year {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 14px;
  color: #262626;
  opacity: 0.3;
}
/* line 864, ../sass/styles.scss */
.roadmap__icon {
  position: relative;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin-bottom: 0;
}
/* line 876, ../sass/styles.scss */
.roadmap__icon:before {
  content: ' ';
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #979797;
  opacity: 0.2;
  display: block;
  width: 1px;
  height: 100%;
  left: 15px;
  top: 0;
}
/* line 893, ../sass/styles.scss */
.roadmap__icon:after {
  position: absolute;
  top: 0;
  left: 15px;
  margin: auto 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: center center no-repeat #d8d8d8;
  background-size: 24px 24px;
  content: ' ';
  height: 30px;
  width: 30px;
  background-image: url("./../images/time.svg");
  background-color: #123997;
  left: 0;
  top: 20px;
  margin: 0;
}
/* line 917, ../sass/styles.scss */
.roadmap__text {
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  margin-top: 20px;
}
@media (max-width: 1199px) {
  /* line 917, ../sass/styles.scss */
  .roadmap__text {
    height: 95px;
    overflow: hidden;
  }
}
/* line 931, ../sass/styles.scss */
.roadmap__title {
  font-size: 24px;
  line-height: 28px;
  color: #262626;
  font-weight: 500;
}
/* line 941, ../sass/styles.scss */
.roadmap__title span {
  display: block;
}
@media (max-width: 899px) {
  /* line 931, ../sass/styles.scss */
  .roadmap__title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 639px) {
  /* line 931, ../sass/styles.scss */
  .roadmap__title {
    height: auto;
  }
}
@media (max-width: 1199px) {
  /* line 955, ../sass/styles.scss */
  .roadmap__nav {
    display: none;
  }
}
/* line 961, ../sass/styles.scss */
.roadmap__nav_wrap {
  max-width: 585px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
  padding: 0 30px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  /* line 961, ../sass/styles.scss */
  .roadmap__nav_wrap {
    max-width: none;
    left: -20px;
    right: -20px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto 0;
  }
}
@media (max-width: 639px) {
  /* line 961, ../sass/styles.scss */
  .roadmap__nav_wrap {
    left: -10px;
    right: -10px;
  }
}
/* line 987, ../sass/styles.scss */
.roadmap__nav_item {
  padding: 10px;
  color: #262626;
  font-size: 12px;
  opacity: 0.3;
  cursor: pointer;
}
/* line 994, ../sass/styles.scss */
.roadmap__nav_item.slick-active.slick-current {
  opacity: 1;
}
/* line 996, ../sass/styles.scss */
.roadmap__nav_item.slick-active.slick-current .roadmap__nav_year {
  background-color: #123997;
  border-color: #123997;
  color: #ffffff;
}
/* line 1003, ../sass/styles.scss */
.roadmap__nav_item:hover {
  opacity: 1;
}
/* line 1005, ../sass/styles.scss */
.roadmap__nav_item:hover .roadmap__nav_year {
  border-color: #123997;
  color: #123997;
}
/* line 1012, ../sass/styles.scss */
.roadmap__nav_year {
  border-radius: 4px;
  background-color: transparent;
  color: #262626;
  border: solid 1px transparent;
  width: 67px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}
/* line 1023, ../sass/styles.scss */
.roadmap__nav_year--dop {
  border-color: #979797;
}
/* line 1028, ../sass/styles.scss */
.roadmap__nav_arr {
  height: 26px;
  width: 20px;
  background: url("./../images/left-arrow__darck.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* line 1036, ../sass/styles.scss */
.roadmap__nav_arr_wrap {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  padding-top: 15px;
}
/* line 1045, ../sass/styles.scss */
.roadmap__nav_arr_wrap .slick-prev {
  float: left;
}
/* line 1048, ../sass/styles.scss */
.roadmap__nav_arr_wrap .slick-next {
  float: right;
}
/* line 1051, ../sass/styles.scss */
.roadmap__nav_arr_wrap .slick-next .roadmap__nav_arr {
  transform: rotate(180deg);
}

/* line 1060, ../sass/styles.scss */
.team__slider {
  overflow: hidden;
  margin-bottom: 40px;
  font-size: 0;
  vertical-align: top;
  line-height: 0;
  margin: 0 -25px;
  text-align: center;
}
/* line 1075, ../sass/styles.scss */
.team__item {
  padding: 25px;
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}
@media (max-width: 1023px) {
  /* line 1075, ../sass/styles.scss */
  .team__item {
    width: 50%;
  }
}
@media (max-width: 639px) {
  /* line 1075, ../sass/styles.scss */
  .team__item {
    width: 100%;
    max-width: 320px;
  }
}
/* line 1091, ../sass/styles.scss */
.team__nav_wrap {
  text-align: center;
}
/* line 1095, ../sass/styles.scss */
.team__nav {
  padding: 0 40px;
  position: relative;
  display: inline-block;
}
/* line 1101, ../sass/styles.scss */
.team__arr {
  height: 26px;
  width: 20px;
  background: url("./../images/left-arrow.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* line 1109, ../sass/styles.scss */
.team__arr_wrap {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
}
/* line 1117, ../sass/styles.scss */
.team__arr_wrap .slick-prev {
  float: left;
}
/* line 1120, ../sass/styles.scss */
.team__arr_wrap .slick-next {
  float: right;
}
/* line 1123, ../sass/styles.scss */
.team__arr_wrap .slick-next .team__arr {
  transform: rotate(180deg);
}
/* line 1129, ../sass/styles.scss */
.team__dots {
  padding: 5px 0;
}
/* line 1131, ../sass/styles.scss */
.team__dots .slick-dots {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 1137, ../sass/styles.scss */
.team__dots .slick-dots li {
  display: inline-block;
}
/* line 1140, ../sass/styles.scss */
.team__dots .slick-dots li button {
  text-indent: -9999px;
  background-color: transparent;
  border: solid 1px transparent;
  box-shadow: none;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
}
/* line 1153, ../sass/styles.scss */
.team__dots .slick-dots li button:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #181818;
  border-radius: 50%;
}
@media (max-width: 639px) {
  /* line 1140, ../sass/styles.scss */
  .team__dots .slick-dots li button {
    margin: 0;
  }
}
/* line 1175, ../sass/styles.scss */
.team__dots .slick-dots li.slick-active button {
  border-color: #434242;
}
/* line 1178, ../sass/styles.scss */
.team__dots .slick-dots li.slick-active button:after {
  display: none;
}
/* line 1187, ../sass/styles.scss */
.team__text {
  opacity: 0.4;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
  max-width: 280px;
  text-align: left;
}
/* line 1196, ../sass/styles.scss */
.team__text p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 1202, ../sass/styles.scss */
.team__img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 1209, ../sass/styles.scss */
.team__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1199px) {
  /* line 1202, ../sass/styles.scss */
  .team__img {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 20px;
  }
}
/* line 1222, ../sass/styles.scss */
.team__name {
  font-size: 24px;
  line-height: 28px;
  min-height: 56px;
  margin-bottom: 10px;
  color: #262626;
  font-weight: 500;
  opacity: 0.9;
  text-align: left;
}
/* line 1231, ../sass/styles.scss */
.team__name span {
  display: block;
}
@media (max-width: 1199px) {
  /* line 1222, ../sass/styles.scss */
  .team__name {
    height: 60px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  /* line 1240, ../sass/styles.scss */
  .team__name--mini {
    font-size: 22px;
  }
}
@media (max-width: 639px) {
  /* line 1240, ../sass/styles.scss */
  .team__name--mini {
    font-size: 18px;
  }
}

/* line 1251, ../sass/styles.scss */
.publications {
  margin-top: 80px;
}
/* line 1253, ../sass/styles.scss */
.publications__line {
  text-align: center;
  vertical-align: middle;
  margin: 0 -30px;
}
@media (max-width: 899px) {
  /* line 1253, ../sass/styles.scss */
  .publications__line {
    margin: -10px;
  }
}
/* line 1263, ../sass/styles.scss */
.publications__line a {
  display: inline-block;
  padding: 30px;
  vertical-align: top;
}
/* line 1268, ../sass/styles.scss */
.publications__line a img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 899px) {
  /* line 1263, ../sass/styles.scss */
  .publications__line a {
    padding: 10px;
  }
}

/* line 1280, ../sass/styles.scss */
.contacts {
  max-width: 440px;
  width: 50%;
  position: relative;
  z-index: 3;
}
@media (max-width: 1199px) {
  /* line 1280, ../sass/styles.scss */
  .contacts {
    width: 100%;
    max-width: none;
  }
}
/* line 1291, ../sass/styles.scss */
.contacts__title {
  color: #ffffff;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 30px;
}
/* line 1299, ../sass/styles.scss */
.contacts__title span {
  display: block;
}
/* line 1303, ../sass/styles.scss */
.contacts__title span + span {
  font-weight: 100;
  color: #bfbfbf;
}
/* line 1309, ../sass/styles.scss */
.contacts__text {
  font-size: 14px;
  line-height: 17px;
  color: #939393;
}
@media (max-width: 1199px) {
  /* line 1309, ../sass/styles.scss */
  .contacts__text {
    display: none;
  }
}
/* line 1320, ../sass/styles.scss */
.contacts__img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 1329, ../sass/styles.scss */
.contacts__img img {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
/* line 1336, ../sass/styles.scss */
.contacts__img:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  opacity: 0.9;
  background: #171e32;
  z-index: 2;
}
@media (max-width: 1199px) {
  /* line 1336, ../sass/styles.scss */
  .contacts__img:after {
    width: 100%;
  }
}
/* line 1353, ../sass/styles.scss */
.contacts__img:before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  opacity: 0.9;
  background: #171e32;
  z-index: 2;
  height: 94px;
}
@media (max-width: 1199px) {
  /* line 1353, ../sass/styles.scss */
  .contacts__img:before {
    width: 100%;
    display: none;
  }
}
/* line 1372, ../sass/styles.scss */
.contacts__num_line {
  margin: 30px 0;
}
/* line 1374, ../sass/styles.scss */
.contacts__num_line:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 1382, ../sass/styles.scss */
.contacts__num_block {
  float: left;
  width: 50px;
  margin-right: 15px;
}
/* line 1388, ../sass/styles.scss */
.contacts__num {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}
/* line 1394, ../sass/styles.scss */
.contacts__num_text {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-family: "WhitneyLight", sans-serif;
  font-weight: 100;
}
/* line 1402, ../sass/styles.scss */
.contacts__form_text {
  font-size: 14px;
  font-family: "WhitneyLight", sans-serif;
  font-weight: 300;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 20px;
}
/* line 1410, ../sass/styles.scss */
.contacts__form_text p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 1416, ../sass/styles.scss */
.contacts__input {
  float: left;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  padding: 10px 0;
  border-bottom: solid 3px #ffffff;
  font-family: "WhitneyBook", sans-serif;
}
/* line 1431, ../sass/styles.scss */
.contacts__input:-moz-placeholder, .contacts__input::-moz-placeholder, .contacts__input:-ms-input-placeholder, .contacts__input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: "WhitneyBook", sans-serif;
}
/* line 1438, ../sass/styles.scss */
.contacts__submit {
  float: left;
  display: block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-left: -34px;
}
/* line 1451, ../sass/styles.scss */
.contacts__submit:hover {
  text-decoration: none;
}
/* line 1456, ../sass/styles.scss */
.contacts__input_wrap {
  width: 240px;
}
/* line 1458, ../sass/styles.scss */
.contacts__input_wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 1456, ../sass/styles.scss */
  .contacts__input_wrap {
    float: left;
  }
}
@media (max-width: 639px) {
  /* line 1456, ../sass/styles.scss */
  .contacts__input_wrap {
    float: none;
    width: 280px;
  }
}
/* line 1475, ../sass/styles.scss */
.contacts__form {
  margin-top: 40px;
}
/* line 1479, ../sass/styles.scss */
.contacts__form__btn {
  margin-top: 55px;
}
@media (max-width: 1199px) {
  /* line 1479, ../sass/styles.scss */
  .contacts__form__btn {
    margin-top: -30px;
    margin-left: 20px;
  }
}
@media (max-width: 639px) {
  /* line 1479, ../sass/styles.scss */
  .contacts__form__btn {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 899px) {
  /* line 1494, ../sass/styles.scss */
  .footer .right, .footer .left {
    float: left;
  }
}

/* line 1500, ../sass/styles.scss */
.hamburger {
  display: none;
  float: right;
  width: 54px;
  height: 54px;
  cursor: pointer;
  background: url("./../images/hamburger__wh.svg") center center no-repeat;
  background-size: 38px 38px;
}
@media (max-width: 899px) {
  /* line 1500, ../sass/styles.scss */
  .hamburger {
    display: block;
  }
}

@media (max-width: 899px) {
  /* line 1514, ../sass/styles.scss */
  .header .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 94px;
    z-index: 50;
    background: #ffffff;
    color: #000000 !important;
    padding: 20px;
    width: 320px;
    max-width: 100%;
  }
  /* line 1527, ../sass/styles.scss */
  .header .menu.open {
    display: block;
  }
  /* line 1532, ../sass/styles.scss */
  .header .menu li:nth-child(1), .header .menu li:nth-child(2), .header .menu li:nth-child(3), .header .menu li:nth-child(4), .header .menu li:last-child {
    float: none;
    display: block;
    margin: 0;
    margin-bottom: 15px;
  }
  /* line 1539, ../sass/styles.scss */
  .header .menu li:nth-child(5), .header .menu li:nth-child(6) {
    display: none;
  }
  /* line 1542, ../sass/styles.scss */
  .header .menu li:nth-child(7) {
    margin-left: 0;
  }
}

@media (min-width: 899px) {
  /* line 1551, ../sass/styles.scss */
  .body_wrap {
    padding-top: 94px;
  }
  /* line 1555, ../sass/styles.scss */
  .body_wrap .header {
    position: fixed;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

/* line 1564, ../sass/styles.scss */
.-color-black .hamburger {
  background-image: url("./../images/hamburger.svg");
}

/* line 1572, ../sass/styles.scss */
.slick-slider * {
  outline: none;
  box-sizing: border-box;
}
/* line 1577, ../sass/styles.scss */
.slick-slider .slick-slide {
  float: left;
}
/* line 1582, ../sass/styles.scss */
.slick-slider .slick-track:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 1590, ../sass/styles.scss */
.slick-slider .slick-list {
  padding: 0 !important;
  margin: 0 !important;
}
