/* line 10, ../sass/styles.scss */
.main-yellow-button:hover {
  background: #ffffff;
}
/* line 14, ../sass/styles.scss */
.main-yellow-button:active {
  background: #dadada;
}

/* line 19, ../sass/styles.scss */
.yellow-button {
  background: #f8e81c;
  color: #000000;
  border-radius: 6px;
}
/* line 24, ../sass/styles.scss */
.yellow-button:hover {
  background: #123997;
  color: #ffffff;
}
/* line 29, ../sass/styles.scss */
.yellow-button:active {
  background: #102965;
  color: #ffffff;
}

/* line 35, ../sass/styles.scss */
.blue-button {
  border: solid 1px #123997;
  background: #ffffff;
  color: #123997;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 6px;
}
/* line 44, ../sass/styles.scss */
.blue-button:hover {
  color: #ffffff;
  background: #123997;
}
/* line 49, ../sass/styles.scss */
.blue-button:active {
  color: #ffffff;
  border-color: #0f2965;
  background-color: #0f2965;
}

/* line 58, ../sass/styles.scss */
.block {
  display: none;
}
/* line 62, ../sass/styles.scss */
.block-about {
  background: url("./../images/logo-big.svg") center bottom no-repeat;
  background-size: contain;
}
/* line 66, ../sass/styles.scss */
.block-about .container {
  position: relative;
  z-index: 2;
}
/* line 73, ../sass/styles.scss */
.block-video {
  background: url("./../images/bg-2_2x.png") center center no-repeat;
  background-color: #171f32;
}
/* line 78, ../sass/styles.scss */
.block-prospects {
  background: #171e32;
  position: relative;
}

/* line 84, ../sass/styles.scss */
.body_wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 90, ../sass/styles.scss */
.content .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 96, ../sass/styles.scss */
.slider {
  z-index: 50;
}

/* line 100, ../sass/styles.scss */
.title {
  font-family: 'WhitneySemiBold', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #171e32;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 109, ../sass/styles.scss */
.title span {
  display: block;
}
/* line 114, ../sass/styles.scss */
.title__logo img {
  width: 78px;
  height: 29px;
  margin-bottom: 5px;
  opacity: 0.1;
}
/* line 122, ../sass/styles.scss */
.title--in_darck {
  color: #ffffff;
}
/* line 126, ../sass/styles.scss */
.title span.light {
  font-family: "WhitneyMedium";
}

/* line 133, ../sass/styles.scss */
.about__dop_title {
  font-family: 'WhitneySemiBold', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #0e0e0e;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 144, ../sass/styles.scss */
.about__text {
  font-family: 'WhitneyMedium', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #0e0e0e;
  opacity: 0.4;
}
/* line 151, ../sass/styles.scss */
.about__text p {
  margin: 0;
}
/* line 156, ../sass/styles.scss */
.about__infore {
  padding: 5px 0 5px 45px;
  background: url("./../images/about_icon.png") left center no-repeat;
  font-size: 17px;
  line-height: 20px;
  font-family: 'WhitneySemiBold', sans-serif;
  color: #0e0e0e;
  font-weight: 600;
  margin-top: 15px;
}
/* line 166, ../sass/styles.scss */
.about__infore span {
  display: block;
}
/* line 171, ../sass/styles.scss */
.about__col_wrap {
  margin: 30px -40px;
}
/* line 174, ../sass/styles.scss */
.about__col_wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 182, ../sass/styles.scss */
.about__col {
  padding: 40px;
  float: left;
  width: 50%;
  min-height: 300px;
}
/* line 188, ../sass/styles.scss */
.about__col--pull_right {
  float: right;
}
/* line 193, ../sass/styles.scss */
.about__for_bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 202, ../sass/styles.scss */
.about__top_left {
  width: 732px;
  height: 706px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: url("./../images/line-2.svg") center center no-repeat;
  background-size: contain;
}
/* line 212, ../sass/styles.scss */
.about__top_center {
  width: 363px;
  position: absolute;
  height: 286px;
  left: 640px;
  z-index: 1;
  top: 0;
  background: url("./../images/group-2.svg") center center no-repeat;
  background-size: contain;
}
/* line 222, ../sass/styles.scss */
.about__bottom_center {
  position: absolute;
  z-index: 1;
  width: 366px;
  height: 243px;
  left: 490px;
  bottom: 0;
  background: url("./../images/group-4.svg") center center no-repeat;
  background-size: contain;
}

/* line 236, ../sass/styles.scss */
.video__play_wrap {
  padding: 150px;
  margin: 40px auto;
}
/* line 241, ../sass/styles.scss */
.video__play {
  background: url("./../images/play-wh.svg") center top no-repeat;
  text-decoration: none;
  padding-top: 110px;
  background-size: 96px 96px;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  position: relative;
}
/* line 251, ../sass/styles.scss */
.video__play:hover {
  text-decoration: none;
  background-image: url("./../images/play-wh_hover.svg");
}
/* line 256, ../sass/styles.scss */
.video__play:before {
  position: absolute;
  top: -100px;
  right: -100px;
  height: 1px;
  width: 120px;
  transform: rotate(-45deg);
  background: #ffffff;
  display: block;
  content: ' ';
}
/* line 267, ../sass/styles.scss */
.video__play:after {
  position: absolute;
  left: -100px;
  bottom: -100px;
  height: 1px;
  width: 120px;
  transform: rotate(-45deg);
  background: #ffffff;
  display: block;
  content: ' ';
}
/* line 280, ../sass/styles.scss */
.video__logo_wrap {
  text-align: right;
}
/* line 283, ../sass/styles.scss */
.video__logo {
  background: url("./../images/logo_wh.svg") center center no-repeat;
  background-size: contain;
  width: 43px;
  height: 16px;
  display: inline-block;
}
/* line 291, ../sass/styles.scss */
.video__text {
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  line-height: 35px;
}
/* line 298, ../sass/styles.scss */
.video__title {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: "WhitneySemiBold", sans-serif;
  font-weight: 600;
  line-height: 35px;
}
/* line 308, ../sass/styles.scss */
.video__dop_text {
  bottom: 100px;
  opacity: 0.3;
  max-width: 980px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 200px;
}

/* line 325, ../sass/styles.scss */
.purchase__block {
  margin: 0 -30px;
}
/* line 327, ../sass/styles.scss */
.purchase__block:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 325, ../sass/styles.scss */
  .purchase__block {
    margin: 0 -30px;
  }
}
/* line 338, ../sass/styles.scss */
.purchase__block .title {
  margin-top: 15px;
  margin-bottom: 32px;
}
@media (max-width: 1199px) {
  /* line 343, ../sass/styles.scss */
  .purchase__block .title span {
    display: inline;
  }
}
/* line 350, ../sass/styles.scss */
.purchase__item {
  width: 33.3%;
  float: left;
  padding: 30px 20px;
}
@media (max-width: 1199px) {
  /* line 350, ../sass/styles.scss */
  .purchase__item {
    width: 50%;
    padding: 15px;
  }
  /* line 359, ../sass/styles.scss */
  .purchase__item:first-of-type {
    width: 100%;
  }
}
@media (max-width: 639px) {
  /* line 350, ../sass/styles.scss */
  .purchase__item {
    width: 100%;
  }
}
/* line 369, ../sass/styles.scss */
.purchase__text {
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  font-family: "WhitneyMedium", sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  height: 54px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  /* line 369, ../sass/styles.scss */
  .purchase__text {
    display: none;
  }
}
/* line 385, ../sass/styles.scss */
.purchase__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-family: "WhitneyMedium", sans-serif;
  color: #262626;
  margin-bottom: 15px;
}
/* line 395, ../sass/styles.scss */
.purchase__bottom:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 403, ../sass/styles.scss */
.purchase__price {
  float: left;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 15px;
  border-radius: 6px;
  background: #f1f1f1;
  margin-right: 5px;
}
/* line 413, ../sass/styles.scss */
.purchase__btn {
  display: block;
  float: left;
}
/* line 418, ../sass/styles.scss */
.purchase__icon {
  margin-bottom: 20px;
  background: left center no-repeat;
  background-size: contain;
  height: 55px;
  width: 80px;
}
@media (max-width: 1199px) {
  /* line 418, ../sass/styles.scss */
  .purchase__icon {
    float: left;
  }
}
/* line 429, ../sass/styles.scss */
.purchase__icon--1 {
  background-image: url("./../images/iconPhysics.svg");
}
/* line 432, ../sass/styles.scss */
.purchase__icon--2 {
  background-image: url("./../images/iconDna.svg");
}
/* line 435, ../sass/styles.scss */
.purchase__icon--3 {
  background-image: url("./../images/iconDog.svg");
}
/* line 438, ../sass/styles.scss */
.purchase__icon--4 {
  background-image: url("./../images/iconBrain.svg");
}
/* line 441, ../sass/styles.scss */
.purchase__icon--5 {
  background-image: url("./../images/iconMan.svg");
}
/* line 444, ../sass/styles.scss */
.purchase__icon--6 {
  background-image: url("./../images/iconFrezer.svg");
}
/* line 447, ../sass/styles.scss */
.purchase__icon--7 {
  background-image: url("./../images/iconBu.svg");
}
/* line 450, ../sass/styles.scss */
.purchase__icon--8 {
  background-image: url("./../images/iconSpace.svg");
}

/* line 458, ../sass/styles.scss */
.prospects__content {
  padding-left: 33.4%;
}
/* line 462, ../sass/styles.scss */
.prospects__img {
  position: absolute;
  right: 66.6%;
  width: 33.3%;
  overflow: hidden;
  height: 100%;
}
/* line 469, ../sass/styles.scss */
.prospects__img img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: block;
  top: 0;
  right: 0;
}
/* line 480, ../sass/styles.scss */
.prospects__item_wrap {
  margin: 0 -55px;
}
/* line 483, ../sass/styles.scss */
.prospects__item_wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 491, ../sass/styles.scss */
.prospects__item {
  min-height: 220px;
  width: 50%;
  padding: 15px;
  float: left;
}
/* line 499, ../sass/styles.scss */
.prospects__text_wrap {
  padding: 30px 40px;
}
/* line 502, ../sass/styles.scss */
.prospects__text_wrap:hover {
  background: rgba(216, 216, 216, 0.02);
}
/* line 506, ../sass/styles.scss */
.prospects__text_wrap:hover .prospects__title, .prospects__text_wrap:hover .prospects__text {
  opacity: 1;
}
/* line 512, ../sass/styles.scss */
.prospects__title {
  opacity: 0.6;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
/* line 520, ../sass/styles.scss */
.prospects__text {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.3;
}
/* line 527, ../sass/styles.scss */
.prospects__dop {
  margin-top: 40px;
}
/* line 530, ../sass/styles.scss */
.prospects__dop:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 538, ../sass/styles.scss */
.prospects__dop_col {
  width: 50%;
  float: left;
}
/* line 543, ../sass/styles.scss */
.prospects__release {
  padding-left: 35px;
  line-height: 32px;
  background: url("./../images/icon-pdf.svg") left center no-repeat;
  background-size: contain;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
/* line 552, ../sass/styles.scss */
.prospects__logo {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 12px;
  display: inline-block;
  margin-right: 50px;
  text-decoration: none;
  vertical-align: top;
}
/* line 562, ../sass/styles.scss */
.prospects__logo span {
  display: block;
}
/* line 567, ../sass/styles.scss */
.prospects__l_img {
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
/* line 572, ../sass/styles.scss */
.prospects__l_img img {
  max-height: 25px;
  max-width: 130px;
  vertical-align: bottom;
}

/* line 591, ../sass/styles.scss */
.roadmap__item.slick-active .roadmap__title, .roadmap__item.slick-active .roadmap__text, .roadmap__item.slick-active .roadmap__year {
  opacity: 1;
}
/* line 595, ../sass/styles.scss */
.roadmap__item.slick-active .roadmap__icon:after {
  height: 30px;
  width: 30px;
  background-image: url("./../images/time.svg");
  background-color: #123997;
}
/* line 606, ../sass/styles.scss */
.roadmap__year {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 14px;
  color: #262626;
  opacity: 0.3;
}
/* line 614, ../sass/styles.scss */
.roadmap__icon {
  position: relative;
  height: 30px;
  width: 100%;
  margin-bottom: 60px;
}
/* line 620, ../sass/styles.scss */
.roadmap__icon:before {
  content: ' ';
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #979797;
  opacity: 0.2;
  display: block;
}
/* line 632, ../sass/styles.scss */
.roadmap__icon:after {
  position: absolute;
  top: 0;
  left: 15px;
  margin: auto 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: center center no-repeat #d8d8d8;
  background-size: 24px 24px;
  content: ' ';
}
/* line 647, ../sass/styles.scss */
.roadmap__text {
  padding: 0 15px;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  opacity: 0.2;
}
/* line 655, ../sass/styles.scss */
.roadmap__title {
  padding: 0 15px;
  opacity: 0.2;
  font-size: 24px;
  line-height: 28px;
  color: #262626;
  font-weight: 500;
  height: 84px;
  margin-bottom: 20px;
}
/* line 665, ../sass/styles.scss */
.roadmap__title span {
  display: block;
}
